/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Unna');

html,
head, 
body {
    margin: 0;
}

html,
input {
  font-family: 'Unna', serif;;
}

/* DOCUMENT-LEVEL ADJUSTMENTS */

html {
  font-size: 17px;
}
@media (max-width: 500px) {
  html {
    font-size: 20px;
  }
}


/* ELEMENT STYLING */

body {
  height: 100%;
  text-align: center;
  color: #000;
  background-color: #fff;
}

a {
  color: rgb(12, 100, 100);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.caret {
  color: rgb(12, 100, 100);
}

input {
  outline: none;
  padding: 5px 10px;
  width: 15rem;
  max-width: 80vw;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid rgb(12, 100, 100);
  font-size: 1.2rem;
}
input::placeholder {
  color: rgb(160, 160, 160);
}

div.entry {
  text-align: left;
  font-size: 1.2rem;
  margin: .7rem auto;
  width: 20rem;
  max-width: 85vw;
}
  
div.entry span.text.complete {
  text-decoration: line-through;
  color: rgb(160, 160, 160);
}

div.entry span.checkmark,
div.entry span.x {
  font-size: 1.5rem;
  line-height: 1.2rem;
  color: rgb(12, 100, 100);
  cursor: pointer;
}
div.entry span.checkmark:hover,
div.entry span.x:hover {
  color: rgb(61, 131, 131);
}

div.entry span.container {
    float: right;
}

div.entry span.x {
  display: inline-block;
  text-align: right;
  width: 1.5rem;
}

div.control {
  margin-top: 1.8rem;
}

div.control a.filter {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0 .3rem;
  cursor: pointer;
  color: rgb(50, 50, 50);
}
div.control  a.filter:hover {
  text-decoration: underline;
}

div.control a.filter.current {
  text-decoration: underline;
}

footer {
  margin: 3rem 0;
}

footer p {
  font-size: .7rem;
  margin: .3rem 0;
}
