<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An Vue app that just lists stuff">
    <meta name="author" content="Jack R. Zhang">

    <title>Lister | Vue</title>

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>
        <a href="https://github.com/jackrzhang/lister-vue">lister</a>
      </h1>
    </header>

    <div id="lister">
      <div class="input">
        <span class="caret">❯ </span>
        <input type="text" class="new-item" placeholder="write stuff, hit enter" autofocus
          v-model="input"
          @keydown.enter="addItem">
      </div>

      <div
        v-for="item in filteredItems"
        :item="item"
        :key="item.id">
        <div class="entry">
          <template v-if="!item.isEditing">
            <span class="action checkmark" @click="checkItem(item.id)">☑</span>
            <span class="text" :class="{ complete: !item.isActive }">{{ item.text }}</span>
            <span class="container">
              <span class="action edit" @click="editItem(item.id)">▼</span>
              <span class="action x" @click="removeItem(item.id)">×</span>
            </span>
          </template>
          <template v-else>
            <span class="edit-container">
              <input type="text" class="edit-item" 
                v-focus
                v-model="item.editedText"
                @keydown.enter="completeEdit(item.id)">
              <span class="action x" @click.stop="cancelEdit(item.id)">×</span>
            </span>
          </template>
        </div>
      </div>

      <div v-show="showControl" class="control">
        <span class="filter"
          @click="filter = 'all'"
          :class="{ current: filter === 'all' }">
        All</span>
        <span class="filter"
          @click="filter = 'active'"
          :class="{ current: filter === 'active' }">
        Active</span>
        <span class="filter"
          @click="filter = 'complete'"
          :class="{ current: filter === 'complete' }">
        Complete</span>
      </div>
    </div>

    <footer>
      <p>Written by <a href="http://jackrzhang.com">Jack Zhang</a></p>
      <p>Built with <a href="https://vuejs.org">Vue 2.3</a></p>
    </footer>
    
    <!-- development -->
    <!-- <script src="https://unpkg.com/vue@2.3.4"></script> -->

    <!-- production -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="lister.js"></script>
  </body>

</html>
